In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("Tree.csv")
df

   Toothed   Hair  Breathes   Legs Species
0     True   True      True   True       M
1     True   True      True   True       M
2    False  False      True  False       R
3     True   True      True   True       M
4     True   True      True   True       M
5     True   True      True   True       M
6     True  False     False  False       R
7     True  False      True  False       R
8     True   True      True   True       M
9    False  False      True   True       R

In [4]:
df.head()

   Toothed   Hair  Breathes   Legs Species
0     True   True      True   True       M
1     True   True      True   True       M
2    False  False      True  False       R
3     True   True      True   True       M
4     True   True      True   True       M

In [11]:
inputs=df.drop("Species",axis="columns")
target=df["Species"]

In [12]:
inputs

   Toothed   Hair  Breathes   Legs
0     True   True      True   True
1     True   True      True   True
2    False  False      True  False
3     True   True      True   True
4     True   True      True   True
5     True   True      True   True
6     True  False     False  False
7     True  False      True  False
8     True   True      True   True
9    False  False      True   True

In [13]:
target

0    M
1    M
2    R
3    M
4    M
5    M
6    R
7    R
8    M
9    R
Name: Species, dtype: object

In [14]:
from sklearn.preprocessing import LabelEncoder
le_Company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [15]:
inputs["Toothed_n"]=le_Company.fit_transform(inputs['Toothed'])
inputs["Hair_n"]=le_Company.fit_transform(inputs['Hair'])
inputs["Breathes_n"]=le_Company.fit_transform(inputs['Breathes'])
inputs["Legs_n"]=le_Company.fit_transform(inputs['Legs'])

In [16]:
inputs.head

<bound method NDFrame.head of    Toothed   Hair  Breathes   Legs  Toothed_n  Hair_n  Breathes_n  Legs_n
0     True   True      True   True          1       1           1       1
1     True   True      True   True          1       1           1       1
2    False  False      True  False          0       0           1       0
3     True   True      True   True          1       1           1       1
4     True   True      True   True          1       1           1       1
5     True   True      True   True          1       1           1       1
6     True  False     False  False          1       0           0       0
7     True  False      True  False          1       0           1       0
8     True   True      True   True          1       1           1       1
9    False  False      True   True          0       0           1       1>

In [17]:
inputs_n=inputs.drop(['Toothed','Hair','Breathes','Legs'],axis='columns')

In [18]:
inputs_n

   Toothed_n  Hair_n  Breathes_n  Legs_n
0          1       1           1       1
1          1       1           1       1
2          0       0           1       0
3          1       1           1       1
4          1       1           1       1
5          1       1           1       1
6          1       0           0       0
7          1       0           1       0
8          1       1           1       1
9          0       0           1       1

In [19]:
from sklearn import  tree

In [20]:
model=tree.DecisionTreeClassifier()
model.fit(inputs_n,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [21]:
model.score(inputs_n,target)

1.0

In [22]:
model.predict([[1,0,1,0]])

array(['R'], dtype=object)